li i {
    font-size: 2em!important;
}

i {
    font-size: 1.5em!important;
}

footer {
    padding: 2rem 1.5rem 2rem!important;
}

.header-align {
    text-align: right;
}

#madrasah-submenu {
    display: none;
}

#news-slideshow {
    height: 600px;
}

.timeline-point-right, .timeline-point-left {
    height: 100px;
}

.timeline-point-right {
    text-align: right;
}

.timeline-point-left {
    text-align: left;
}

.border-right {
    border-right: 1px solid #aaa
}