/* GLOBAL STYLING */
footer, .main-page__header {
  background-color: #cbdded!important;
}

/* MAIN CONTAINER STYLING */
.main-page {
  box-shadow: 1px 1px 30px 4px #aaa;
}

/* HEADER STYLING */
.main-page__header {
  padding-right: 0;
  padding-top: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-bottom: 0!important;
  padding-bottom: 0;
}

.hero-body {
  padding-top: 0!important;
  padding-right: 0!important;
  text-align: right;
  padding-bottom: 0;
}

/* OVERALL BODY */
.main-content__body {
  padding-right: 1.25rem;
  margin-bottom: 0!important;
}

/* SIDE MENU STYLING */
li i {
  font-size: 2em !important; }

i {
  font-size: 1.5em !important; }

#madrasah-submenu, #aboutus-submenu {
  display: none;
}

/* PRAYER TIMES */
td {
  padding: 0.1rem!important;
}

.table {
  margin-bottom: 0.5rem!important;
}

/* PRAYER CALENDAR */
#cal-1 {
  padding-bottom: 2.3rem;
}

/* PROJECTS & SERVICES PAGE - TIMELINE STYLING */
.timeline-point-right, .timeline-point-left {
  height: 200px;
}

.timeline-point-right {
  text-align: right;
}

.timeline-point-left {
  text-align: left;
}

.border-right {
  border-right: 1px solid #aaa
}

.box-use {
  height: 290px;
  border: 1px solid red
}

/* FOOTER STYLING */
footer {
  padding: 2rem 1.5rem 2rem !important;
}

.copyright {
  width: 100%;
  border-top: 1px solid #aaa;
  background-color: #87c4f9;
  padding: 0.5rem;
}

/* ABOUT US */
.sub-heading {
  color: #009d9d!important;
}

.about-us__ul {
  padding-left: 2rem;
  list-style: circle;
}

.media-left {
  margin-top: 0.5rem!important;
}